.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.color-option {
  height: 30px;
  width: 30px;
  border: 2px solid rgb(64, 64, 64);
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.selected-option {
  border-width: 5px !important;
}
