<div class="planner-content">
  <div class="scrollable-content">
    <div
      class="category-panel"
      *ngFor="let category of plannerService.categories"
    >
      <input
        class="category-title"
        [value]="category.title"
        (change)="plannerService.onTitleInputChange(category, $event)"
        [attr.maxlength]="plannerService.maxTitleLength"
      />
      <hr class="divider" />
      <div class="task-box"
        cdkDropList
        [id]="category.id.toString()"
        [cdkDropListData]="category.tasks"
        [cdkDropListConnectedTo]="getConnectedListIds()"
        (cdkDropListDropped)="drop($event)">
        <span
          class="task"
          *ngFor="let task of category.tasks"
          cdkDrag
        >
          <input
            class="task-title"
            [value]="task.title"
            (change)="plannerService.onTitleInputChange(task, $event)"
            [attr.maxlength]="plannerService.maxTitleLength"
          />
          <mat-icon
            aria-hidden="false"
            aria-label="Edit task icon"
            fontIcon="edit"
            class="edit-task-icon"
            (click)="openTaskDialog(category, task)"
          ></mat-icon>
        </span>
        <div class="add-task-button" (click)="plannerService.addTask(category)">
          <mat-icon
            aria-hidden="false"
            aria-label="Add task icon"
            fontIcon="add"
            class="add-task-icon"
          ></mat-icon>
        </div>
      </div>
      <div class="delete-category-button" (click)="openDeleteConfirmDialog(category)">
        <mat-icon
          aria-hidden="false"
          aria-label="Delete category icon"
          fontIcon="delete"
          class="delete-category-icon"
        ></mat-icon>
      </div>
    </div>
    <div class="add-category-button" (click)="plannerService.addCategory()">
      <mat-icon
        aria-hidden="false"
        aria-label="Add category icon"
        fontIcon="add"
        class="add-category-icon"
      ></mat-icon>
    </div>
  </div>
</div>
