<div class="about-me-content">
  <img class="headshot" src="assets/headshot.jpg" alt="Headshot image of Cody Owens">
  <div class="info-pane">
    <h1 class="info-title">Cody Owens</h1>
    <hr>
    <p class="info-blurb">
      Dynamic and results-driven Software Engineer with a proven track record of delivering high-quality software solutions.
      Skilled in collaborating with cross-functional teams and developing applications that serve diverse user bases.
      Demonstrated ability to work on both front-end and back-end systems, including automation testing of critical CMS backend applications.
      Passionate about continuous learning and driving innovation in the software development field.
    </p>
    <div class="button-bar">
      <a class="resume-link" href="assets/owens-resume.pdf">
        <button mat-raised-button >My Resume (.pdf)</button>
      </a>
    </div>
  </div>
</div>
