.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.action-bar {
  display: flex;
  align-items: center;
  height: 5vh;
}
.grid-frame {
  display: flex;
  padding-top: 15px;
}
.clear-button {
  margin-left: 5vw;
}
