.nav-header {
  display: flex;
  background-color: #11a8cd;
}
.nav-title {
  margin: 10px 5px 10px 15px;
  font-weight: bold;
}
.nav-list {
  height: 100%;
  list-style: none;
  display: flex;
  margin: 0;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-item > a {
  margin: 0 4px;
  padding: 0 8px;
  color: #000;
  background-color: #38b3d1;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-item > a:hover {
  background-color: #14768e;
  margin: fill 0px;
}
